<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<settings>
		<servers>
			<server last='true' found='false'>
				<name>PLEX_NAS</name>
				<ip>192.168.0.3</ip>
				<port>32400</port>
			</server>
			<server last='false' found='false'>
				<name>local</name>
				<ip>127.0.0.1</ip>
				<port>32400</port>
			</server>
		</servers>
		<wall>
			<number_of_rows>3</number_of_rows>
			<number_of_rows>5</number_of_rows>
		</wall>
	</settings>
</configuration>